.fact-card-tablist{
    .k-tabstrip-content.k-active{
        padding:0 ;
    }
    .k-tabstrip-items-wrapper{
        margin-bottom: 10px;
        border-bottom: none;
    }

    .k-tabstrip-content .k-animation-container {
        width:100%;
    }


    .k-tabstrip-item {
        background-color: hsl(var(--secondary));
        margin-right: 10px !important;
        border: 2px solid transparent;
    }
    .k-tabstrip-items .k-tabstrip-item .k-link:hover{
        background-color: hsl(var(--primary));
        border-radius: 5px;
    }
    .k-tabstrip-item.k-active{
        background: none !important;
    }
    .k-tabstrip-item.k-active .k-link{
        border-radius: 5px;
        border: none;
        background-color: hsl(var(--primary));
        color: hsl(var(--foreground));
    }
    .k-tabstrip-content{
        background:none;
    }
}



.description-container{
    margin-top: 20px !important;
    margin-bottom: 20px !important;

    .slick-dots{
        bottom: -35px;
    }

    .slick-dots button::before, .slick-dots .slick-active button::before {
        color: hsl(var(--primary));
    }
    
}