.title-container {
    .title p {
        display:inline-flex;
        margin: 0;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        
    }

}