.k-appbar {
    width: 50%;
    margin: auto;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}


.info-list>li{
    display:flex;
    align-items: center;  
    gap: 10px;  
}
.info-list>li>span{
    display:inline-flex;
    width: 60px;
}

.info-popover .k-popover-header{
    font-weight: 500;
}